html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

body {
    color: #1B1818;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

.header {
    background-color: #332208;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

li {
    list-style-type: none;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin: 0 15px;
}

.menu__link-list {
    text-transform: uppercase;
    color: #fefefe;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 5px;
    transition: all .5s;
}

.menu__link-list:hover {
    border-bottom: 1px solid #fefefe;
}

.phone {
    color: #fefefe;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 5px;
}

.top {
    padding-bottom: 100px;
}

.top__heading {
    display: flex;
    padding-top: 50px;
    padding-bottom: 30px;

}

.top__content {
    text-align: center;
    padding-top: 90px;
    width: 50%;
}

.top__title {
    font-family: 'Fira Sans', sans-serif ;
    font-weight: 500;
    font-size: 58px;
    line-height: 58px;
    margin: 0 auto 20px;
    max-width: 456px;

}

.top__text {
    font-size: 24px;
    line-height: 28px;
    margin: 0 auto 60px;
    max-width: 570px;

}

.aplication_btn {
    text-transform: uppercase;
    color: #fefefe;
    background-color: #C5AC2D;
    padding: 16px 19px 15px;
    transform: all 5s;
    border: 1px solid transparent;
}

.aplication_btn:hover {
    color: #C5AC2D;
    background-color: #fefefe;
    border: 1px solid #C5AC2D;;
}

.top__slaider {
    width: 50%;
}

.slick-dots {
    list-style: none;
    text-align: center;
}

.top__slaider  .slick-dots {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) ;
}

.slick-dots button {
    font-size: 0;
    width: 8px;
    height: 8px;
    background-color: black;
    border: none;
    border-radius: 50px;
    padding: 0;
    
}

.slick-active button {
    width: 16px;
    height: 16px;
}

.top__slaider-text {
    padding-right: 100px;
    text-align: right;
    font-family: 'Fira Sans', sans-serif ;
    font-weight: 500;
}

.top__slaider-text span + span {
    padding-left: 12px;
}

.top__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.top__items {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.top__item {
    border: 1px solid #1B1818;
    padding: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    cursor: pointer;
}

.top__item :hover {
    transform: scale(1.25);
    transition: all 5s;
}

.top__links {
    padding-right: 80px;
}

.top__link {
    color: #1B1818;
    border-bottom: 1px solid #1B1818;
}

.top__link + .top__link {
    margin-left: 20px;
}

.rent {
    padding: 100px 0;
}

.rent__inner {
    display: flex;
    justify-content: space-between;
}

.rent__content {
    width: 300px;

}

.rent__title {
    font-size: 24px;
    line-height: 29px;
    font-family: 'Fira Sans', sans-serif ;
    font-weight: 500;
    margin-bottom: 30px;
}

.rent__text {
    margin-bottom: 20px;
}

.rent__text + .rent__text {
    margin-bottom: 40px;
}

.rent__item {
    border: 1px solid #332208 ;
    width: 250px;
    min-height: 350px;
    padding: 0 35px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rent__item-num {
    font-size: 96px;
    line-height: 115px;
    opacity: 0.05;
    font-family: 'Fira Sans', sans-serif ;
    font-weight: 500;
    text-align: center;
    margin-bottom: auto;
}

.rent__item-title {
    font-size: 18px;
    line-height: 22px;
    font-family: 'Fira Sans', sans-serif ;
    font-weight: 500;
    text-align: center;
    margin-bottom: auto;
}

.rent__item-text {
    text-align: center;
}

.benefits {
    padding: 100px 0;
}

.benegit__title {
    font-size: 24px;
    line-height: 29px;
    font-family: 'Fira Sans', sans-serif ;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
}

.benefit__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefit__list {
    width: 300px;
    list-style: none;
}


.benefit__list-item {
    margin-bottom: 27px;
    padding-right: 26px;
    position: relative;
    text-align: right;
}

.benefit__list-item ::after {
    content '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color:#332208;
    right: 0;
    top: 3px;
}

.benefit__list-item:nth-child(1),
.benefit__list-item:nth-child(7) {
    margin-right: 10px;
}

.benefit__list-item:nth-child(2),
.benefit__list-item:nth-child(6) {
    margin-right: 60px;
}

.benefit__list-item:nth-child(3),
.benefit__list-item:nth-child(5) {
    margin-right: 110px;
}

.benefit__list-item:nth-child(4) {
    margin-right: 160px;
}


.benefit__content {
    width: 300px;
    text-align: right;
}

.benefit__text {
    margin-bottom: 30px;
    text-align: right;
}

.benefit__text + .benefit__text {
    width: 268px;
    margin-left: auto;
}

.video-piopup {
    background-color: #C5AC2D;
    text-transform: uppercase;
    color: #fefefe;
    padding: 6px 34px 6px 64px;
    text-align: center;
    display: inline-block;
    position: relative;
}

.video-piopup::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url('../img/play-button.png');
    top: 12px;
    left: 34px;

}

.reviews {
    padding: 100px 0;
    background-color: #332208;
    color: #fefefe;
    
}